html,body {
	height: 100%;
	min-height: 100%;
}
body {
	background-color: #f0f0f0;
	font: 1em/1.8 $font-sans-serif;
	font-weight: 400;
}
h1,h2,h3,h4,h5 {
	word-wrap: break-word;
}
a {
	@include transition;
}